%% -*- erlang -*-
%% vim:ts=4 sw=4 et ft=erlang
{cover_enabled, true}.

%%?{deps,
%%? [
%%?  erlware_commons,
%%?  qdate_localtime
%%? ]}.

{deps, [
    {erlware_commons, "", {git, "git://github.com/SCDependencies/erlware_commons", {branch, "SC-master"}}},
    {qdate_localtime, "", {git, "git://github.com/SCDependencies/qdate_localtime", {branch, "SC-master"}}}
]}.
